.header {
    min-height: 64px;
    border-bottom: 1px solid rgba(22, 42, 76, 0.15);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 24px;

    &-left {
        display: flex;
        align-items: center;
    }

    &-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
    }

    &-arrow-icon {
        display: inline-block;
        margin-right: 20px;
    }

    &-hamburger-icon {
        font-size: 25px;
        display: none;
        @media (max-width: 768px) {
            display: inline-block;
        }
    }

    &-avatarContainer {
        width: 40px;
        height: 40px;
        font-size: 16px;
        margin-right: 16px;
    }
}
