table{
    border-collapse: collapse;
}

th,td{
    min-width:200px;
    max-width: 200px;
    text-align: left;
    word-break:break-all;
}

td{
    padding: 0.2rem 3rem 0.5rem 0px;
}

.border-bottom{
    border-bottom: solid 1px rgb(201, 195, 195);
}

.subtd-padding-left{
    padding-left: 0.3rem;
}