<table>
    <ng-container *ngIf="listHeader && isWriteHeader" >
        <tr>
            <th class="border-bottom" *ngFor="let header of listHeader">{{header.header}}</th>
        </tr>
    </ng-container>
   
    <ng-container *ngFor="let item of list">
        <tr (click)="expand(item)">
            <td *ngFor="let header of listHeader; let i = index"
            class="border-bottom"
            [ngStyle]="{'padding-left': i===0 ? item.tabsize+'rem': '0'}"
            [ngClass]="{'expandable-td': i===0,'border-bottom': !item.isExpand}">
            <span class="expander-icon" *ngIf="i===0 && !item.subItems"></span>
            <span class="expander-icon" *ngIf="i===0 && item.subItems && !item.isExpand">+</span>
            <span class="expander-icon" *ngIf="i===0 && item.subItems && item.isExpand">-</span>
            {{item[header.columnName]}}
        </td>
        </tr>
        <tr *ngIf="item.subItems">
            <td class="subtable-td" *ngIf="item.isExpand" [attr.colspan]="listHeader.length" >
               <div class="subtable-td-subtable-div">
                    <itemnested 
                    [list]="item.subItems"
                    [isWriteHeader]='false' 
                    [listHeader]="listHeader"
                    (rowExpandEvent)="rowExpandedEvent($event)"
                    ></itemnested>
               </div>
            </td>
        </tr>
    </ng-container>
</table>