<table>
    <ng-container *ngIf="listHeader && isWriteHeader" >
        <tr>
            <th class="border-bottom" *ngFor="let header of listHeader">{{header.header}}</th>
        </tr>
    </ng-container>
   
    <ng-container *ngFor="let item of list">
        <tr (click)="expand(item)">
            <td 
                class="border-bottom"
                *ngFor="let header of listHeader; let i = index">
                <span *ngIf="i===0 && !item.subItems">&nbsp;&nbsp;</span>
                <span *ngIf="i===0 && item.subItems && !item.isExpand">+</span>
                <span *ngIf="i===0 && item.subItems && item.isExpand">-</span>
                {{item[header.columnName]}}
            </td>
        </tr>
        <tr *ngIf="item.subItems">
            <td class="subtd-padding-left" *ngIf="item.isExpand" [@changeDivSize]="item.isExpand ? 'initial' : 'final'" [attr.colspan]="listHeader.length" >
                <itemnested 
                [list]="item.subItems"
                [isWriteHeader]='false' 
                [listHeader]="listHeader"
                (rowExpandEvent)="rowExpandedEvent($event)"
                ></itemnested>
            </td>
        </tr>
    </ng-container>
</table>