table {
    border-collapse: collapse;
}

th {
    padding: 5px;
}

th,
td {
    min-width: 200px;
    max-width: 200px;
    text-align: left;
    word-break: break-all;
}

.border-bottom {
    border-bottom: solid 0.3px rgb(201, 195, 195);
}

.expandable-td {
    display: flex;
    justify-content: flex-start;
}

.expander-icon {
    max-width: 1rem;
    min-width: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.1rem;
}

td {
    padding: 0.2rem 0 0.2rem 0px;
}

tr:last-child td {
    border-bottom: unset;
}

.tabsize-padding {
    padding-left: 0.8rem;
}

.subtable-td {
    &-subtable-div {
        border: solid 0.3px rgb(201, 195, 195);
        display: inline-block;
    }
}